#news-list {
    padding: 10px;
}

.news {
    border-bottom: 1px solid #cecece;
    margin-top: 10px;
}

.social {
    background: none;
    margin-left: 30px;
}

.flex {
    vertical-align: middle;
    align-content: center;
    align-items: center;
    height: calc(100vh - 20px);
    margin-top: -60px;
    display: block !important;
    width: 600%;
}

.flex img {
    width: auto;
    height: 100%;
}