<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884445109096-3nqlk7757dug4h8m6o1ofcmbj4aj4u5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884445109096-3nqlk7757dug4h8m6o1ofcmbj4aj4u5e</string>
	<key>API_KEY</key>
	<string>AIzaSyAyBE_KIs-chdB9bSsKh0fVbWu4Gfw_CpI</string>
	<key>GCM_SENDER_ID</key>
	<string>884445109096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.notbug.piekarnia</string>
	<key>PROJECT_ID</key>
	<string>mobilnapiekarnia</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilnapiekarnia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884445109096:ios:11f86b476e5c4356a0d4dd</string>
</dict>
</plist>